<h1 class="title">Bad-Libs</h1>
<h2 class="subtitle">bad like good stories</h2>
<img class="tenor-gif-embed" src="https://media.tenor.com/qCxYWwmISjMAAAAd/lain-serial-experiments-lain.gif" alt="blank">
