<h1 class="title">Bad-Libs</h1>
<h2 class="subtitle">bad like good stories</h2>
  {{>nav}}
<div class="tenor-gif-embed" data-postid="22807023" data-share-method="host" data-aspect-ratio="1.33333" data-width="100%"><a href="https://tenor.com/view/lain-serial-experiments-lain-type-typing-gif-22807023">Lain Serial Experiments Lain GIF</a>from <a href="https://tenor.com/search/lain-gifs">Lain GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
