<div class="container">
  {{#each themes}}
  <div class="theme-list">
    <a href="/create/{{theme}}"><img class="img-circle" src="/images/{{theme}}.jpg" alt="{{alt}}"></a>
  </div>
  {{/each}}
</div>