<div class="container">
  {{#each genres}}
  <h1>{{theme}}</h1>
  <div class="theme-list">
    <a href="/create/{{theme}}"><img class="img-circle" src="/images/{{theme}}.jpg" alt="{{alt}}"></a>
  </div>
  {{/each}}
</div>