<form class="form" method="POST" action="/create/:theme">

  <label for="adjective">Enter a spooky adjective (describing word):</label>
  <input type="text" name="adjective"><br>

  <label for="noun">Enter a spooky noun (naming word):</label>
  <input type="text" name="noun"><br>

  <label for="verb">Enter a spooky verb (doing word, present tense):</label>
  <input type="text" name="verb"><br>

  <label for="sound">Enter a spooky exclamation or sound:</label>
  <input type="text" name="sound"><br>

  <button type="submit">Create story!</button>

</form>

{{!-- "theme": "spooky",
    "noun": "ghostdog",
    "verb": "skeletondances",
    "adjective": "scary",
    "word": "boo!" --}}