<form action="">
  <label for="adjective">Enter a {{theme}} adjective (describing word):</label>
  <input type="text" id="adjective">

  <label for="noun">Enter a {{theme}} noun (naming word):</label>
  <input type="text" id="noun">

  <label for="verb">Enter a {{theme}} verb (doing word, present tense):</label>
  <input type="text" id="verb">

  <label for="sound">Enter a {{theme}} exclamation or sound:</label>
  <input type="text" id="sound">

  <button>Create story!</button>

</form>

{{!-- "theme": "spooky",
    "noun": "ghostdog",
    "verb": "skeletondances",
    "adjective": "scary",
    "word": "boo!" --}}