<form method="post" action="/create/spooky">
  <label for="adjective">Enter a spooky adjective (describing word):</label>
  <input type="text" id="adjective">

  <label for="noun">Enter a spooky noun (naming word):</label>
  <input type="text" id="noun">

  <label for="verb">Enter a spooky verb (doing word, present tense):</label>
  <input type="text" id="verb">

  <label for="sound">Enter a spooky exclamation or sound:</label>
  <input type="text" id="sound">

  <button>Create story!</button>

</form>

{{!-- "theme": "spooky",
    "noun": "ghostdog",
    "verb": "skeletondances",
    "adjective": "scary",
    "word": "boo!" --}}