html {
  background-color: #9a606c;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.theme-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

h1 {
  color: #fffbf1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 100px;
  padding: 20px, auto, 20px, auto;
  margin-bottom: 10px;
}

h2 {
  color: #fffbf1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  padding: 20px, auto, 20px, auto;
}

p {
  color: #fffbf1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  padding: 20px, auto, 20px, auto;
}

a {
  color: #fffbf1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  padding: 20px, auto, 20px, auto;
}

nav {
  text-align: center;
  padding: 20px, auto, 20px, auto;
  margin-top: 10px;
}

#nav-btn {
  background-color: #783d4b;
  color: #fffbf1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  border: 0px;
  width: 80px;
  height: 30px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
  padding: 20px, auto, 20px, auto;
}

label {
  color: #fffbf1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  padding: 20px, auto, 20px, auto;
  margin-bottom: 50px;
}

input {
  background-color: #783d4b;
  color: #fffbf1;
  width: 100px;
  height: 20px;
  border: 0px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.tenor-gif-embed {
  display:block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 300px;
  padding: 20px, auto, 20px, auto;
}

.form {
  padding-bottom: 20px;
  text-align: center;
}

button {
  background-color: #783d4b;
  color: #fffbf1;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  border: 0px;
  width: 200px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}